# Run CI tests
name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    # Run the job for different versions of python
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Checks-out repository code
      - name: Checkout code 
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install -r test/requirements_test.txt

      - name: Install payu
        run: pip install .

      - name: Check payu installed correctly
        run: payu list

      - name: Lint
        run: pylint --extension-pkg-whitelist=netCDF4 --ignored-modules=backports -E payu

      - name: Run tests
        run: |
          PYTHONPATH=. pytest --cov=payu -s test;

      - name: Coveralls
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel: true

      - name: Make docs
        run: cd docs && make html

  coveralls_finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: AndreMiras/coveralls-python-action@develop
      with:
        parallel-finished: true
